*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-image: linear-gradient(#D8C7FF,#19006C);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}